.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .header-image {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: top;

    @media (max-width: 1128px) {
      display: none;
    }
  }

  &-header {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 1129px) {
      position: absolute;
      top: 270px;
      right: 170px;
      width: auto;
      flex-direction: column;
    }
  }

  & h1 {
    font-size: clamp(1.6rem, 5vw, 3.4rem);
    font-family: "Orbitron", "Poppins", sans-serif;
    text-align: center;

    & .sp1 {
      color: $PrimaryColor;
      text-shadow: 3px 1px 9px #473db0;
    }
    & .sp2 {
      color: $AccentColor;
      text-shadow: 3px 1px 9px #eb6649;
    }
  }
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@mixin white-gradient {
  background: linear-gradient(to right, rgba(28, 33, 58, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

// Styling
.slider {
  height: 415px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: auto;

  @media (min-width: 1129px) {
    width: 800px;
    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 359px;
      position: absolute;
      width: 30px;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 10);
    gap: 50px;
  }

  .slide {
    height: 100px;
    width: 250px;

    & img {
      width: 280px;
    }
  }
}

.popular,
.deals {
  h3 {
    color: $Alabaster;
  }

  p {
    color: $LightGray;
  }

  & img {
    width: 100%;

    @media (min-width: 700px) {
      width: 250px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 35px 0px;
  background-color: $PrimaryColor;
  font-weight: 400;

  @media (min-width: 700px) {
    flex-direction: row;
    height: 300px;
  }

  & > div {
    padding: 20px;
    display: flex;
    flex-direction: column;

    & button {
      align-self: end;
    }

    & p {
      // adds three dots at overflow
      overflow: hidden;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }

  &-title-price {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    & s {
      color: #eb6649;
    }

    & strong,
    span {
      color: $Alabaster;
    }
  }
}

.reviews {
  &-read {
    display: flex;
    flex-direction: column;
    background-color: $LightBlueBg;
    padding: 20px;
    gap: 20px;
    margin: 20px 0px;

    & p {
      color: $PrimaryColor;
    }

    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    @media (min-width: 800px) {
      flex-direction: row;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & textarea {
      border-radius: 5px;
      padding: 10px;
      font-family: "Poppins", sans-serif;
      color: $PrimaryColor;
      font-size: 1.1rem;

      &::placeholder {
        color: $DamnGoodPurple;
      }

      &:focus-visible {
        outline: 1px solid $DamnGoodPurple;
      }
    }

    & div {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    & input {
      display: none;
    }

    & .fa-star {
      cursor: pointer;
    }
  }
}

.fa-star {
  color: $PrimaryColor;
  font-size: 1.4rem;
}
