body {
  margin: 0;
  font-family: "Roboto", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: $Alabaster;
}

a,
h2,
h3 {
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  color: $PrimaryColor;
}

p {
  line-height: 1.7;
  color: $LightGray;
}

// Ensures the footer stays at the bottom
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

// Add this to components with fixed widths
.container {
  max-width: 800px;
  margin: 0px auto;
  padding: 50px 10px;
}

.cta {
  font-family: "Poppins";
  font-weight: 500;
  border: none;
  padding: 12px 20px;
  border-radius: 2px;

  &-primary {
    background-color: $DamnGoodPurple;
    color: $Alabaster;
    transition: 0.15s linear;

    &:hover {
      cursor: pointer;
      color: $DamnGoodPurple;
      background-color: $Magnolia;
      transition: 0.15s linear;
    }
  }
}
