* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: $Magnolia;
  line-height: 1.5;
}

a,
h2,
h3 {
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  color: $PrimaryColor;
}

p {
  line-height: 1.7;
  color: $Alabaster;
}

a {
  text-decoration: none;
}

// Ensures the footer stays at the bottom
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
  padding-top: 150px;
}

// Add this to components with fixed widths
.container {
  max-width: 800px;
  margin: 0px auto;
  padding: 50px 10px;
}

.container--big {
  @extend .container;
  max-width: 1200px;
}

.cta {
  font-family: "Poppins";
  font-weight: 500;
  border: none;
  border-radius: 2px;
  transition: 0.15s linear;

  &:hover {
    transition: 0.15s linear;
  }

  &-primary {
    padding: 12px 20px;
    background-color: $DamnGoodPurple;
    color: $Alabaster;

    &:hover {
      cursor: pointer;
      color: $DamnGoodPurple;
      background-color: $Magnolia;
    }
  }

  &-alt {
    padding: 8px 20px;
    background-color: $Magnolia;
    border: 2px solid $DamnGoodPurple;
    color: $DamnGoodPurple;

    &:hover {
      cursor: pointer;
      background-color: $DamnGoodPurple;
      color: $Alabaster;
    }
  }
}
