// Variables
// Primary colors
$PrimaryColor: #1c213a;
$AccentColor: #eb6649;
$SecondaryColor: #1e1f27;
$SecondaryColorTransparent: #1e1f2799;
$DamnGoodPurple: #473db0;
$LightBlueBg: aliceblue;

// Neutral colors
$CoolGray: hsl(231, 11%, 63%);
$LightGray: hsl(229, 24%, 87%);
// for background
$Magnolia: hsl(217, 100%, 97%);
// for text
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);
