#login {
  position: fixed;
  inset: 0;
  background-color: $Magnolia;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-content: center;
  place-items: center;

  @media (min-width: 800px) {
    grid-template-columns: 35% 1fr;
    grid-template-rows: 100vh;
  }
}

.left-side,
.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.left-side {
  background-color: $DamnGoodPurple;
  color: $Alabaster;
  font-size: clamp(1.5rem, 5vw, 1.9rem);
  padding: 0px 50px;
  text-align: center;

  @media (min-width: 1365px) {
    padding: 0px 150px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 600px;
  padding: 15px 0px;

  label {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .fa-eye,
    .fa-eye-slash {
      position: absolute;
      right: 10px;
      color: $DamnGoodPurple;
      cursor: pointer;
    }
  }

  & input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $DamnGoodPurple;
    width: 100%;
  }

  & button {
    width: 100%;
    height: 55px;

    &:hover {
      border: 2px solid $DamnGoodPurple;
    }
  }
}

.login-form-container {
  width: 100%;
  max-width: 530px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.return-btn {
  position: fixed;
  top: 0;
  z-index: 3;
  margin: 20px;
  color: $Alabaster;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}
