#dashboard {
  display: flex;
  height: 100vh;

  & ul {
    background-color: $LightGray;
    color: $PrimaryColor;
    list-style-type: none;
    margin: 0px;
    padding: 10px 25px;
    height: 100%;
    cursor: pointer;
    overflow: hidden;

    & span {
      // display: none;
      margin-left: 12px;
      width: 0px;
      transition: width 500ms, color 500ms;
      color: transparent;
    }

    &:hover {
      span {
        // display: flex;
        transition: 3s;
        width: 100px;
        transition: width 500ms, color 500ms;
        color: $PrimaryColor;
      }
    }

    & > * {
      margin: 30px 0px;
      font-size: 1rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      height: 20px;

      &:hover {
        color: $DamnGoodPurple;
        cursor: pointer;

        span {
          color: $DamnGoodPurple;
        }
      }

      & i {
        transform: translateX(6px);
      }
    }

    & .fa-user,
    .fa-list,
    .fa-gear {
      font-size: 1.4rem;
    }
  }
}

.dashboard-container {
  flex-basis: 100%;
  margin: 30px;
}
