// Message to future Eivind, the /src/ in the below string is crucial for fetching the images
/* .bg {
  background-image: url("../../../src/assets/Fifa.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.games {
  display: flex;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
  }

  &-filter {
    flex-basis: 20%;

    & ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      position: sticky;
      top: 20px;
      font-size: 1.5rem;
      padding: 0;
      margin: 0;

      & li {
        background-color: $LightGray;
        color: $PrimaryColor;
        margin: 0px 25px 25px 25px;
        padding: 10px;
        text-align: center;
        white-space: nowrap;

        &:hover {
          cursor: pointer;
          background-color: $DamnGoodPurple;
          color: $Alabaster;
        }

        &.active {
          background-color: $DamnGoodPurple;
          color: $Alabaster;
        }
      }
    }
  }

  &-container {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

    @media (min-width: 1129px) {
      justify-content: flex-start;
    }

    & img {
      max-width: 280px;
      height: 100%;
    }

    &-content {
      width: min-content;
      position: relative;

      & p,
      s {
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        transition: 0.5s ease-in-out;
        text-align: center;
        font-weight: 500;

        @media (min-width: 800px) {
          transform: translateY(340px);
        }
      }

      s {
        color: $AccentColor;
      }

      &-hidden {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        transition: 0.5s ease-in-out;

        @media (max-width: 800px) {
          background-color: $SecondaryColorTransparent;
        }
      }

      &:hover {
        cursor: pointer;

        p,
        s {
          transform: translateY(0px);
          transition: 0.5s ease-in-out;
        }

        .games-container-content-hidden {
          background-color: $SecondaryColorTransparent;
          transition: 0.5s ease-in-out;
        }
      }
    }
  }
}
