nav {
  background-color: $PrimaryColor;

  & a {
    color: $Verylightgray;
    text-decoration: none;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
  }
}

.brand-logo {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 10px 30px;

  & ul {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px 40px;
    align-items: center;

    & div {
      display: flex;
    }

    & .search-bar {
      flex-grow: 1;
      position: relative;

      & input {
        margin: 0px 30px;
        padding: 13px;
        border-radius: 13px;
        border: none;
        width: 100%;
        max-width: 400px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;

        &::placeholder {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
        }

        &:focus-visible {
          outline: 3px solid $AccentColor;
          border-radius: 13px;
        }

        &[type="text"] {
          padding-left: 35px;
        }
      }

      & i.fa-magnifying-glass {
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
      }
    }

    .active-styles {
      content: "";
      border: 2px solid $AccentColor;
      display: flex;
      position: absolute;
      width: 97%;
    }

    li {
      position: relative;
      margin: 0px 20px;

      &.profile-image {
        &:hover {
          cursor: pointer;
          &::after {
            @extend .active-styles;
            bottom: -21px;
          }
        }

        .active {
          color: $Verylightgray;
          &::after {
            @extend .active-styles;
            bottom: -21px;
          }
        }
      }

      &:hover {
        cursor: pointer;
        &::after {
          @extend .active-styles;
          bottom: -41px;
        }
      }

      & .active {
        color: $Verylightgray;
        &::after {
          @extend .active-styles;
          bottom: -41px;
        }
      }
    }
  }
}

.profile-image {
  transform: translateY(5px);

  & img {
    border-radius: 50%;
    width: 50px;
  }
}
